body {
  margin: 0px;
  font-size: 1.125em;
  text-align: center;
  background-color: #F5F8FD;
}

h1 {
  font-family: 'Poppins', sans-serif;
  margin: auto;
}

h2 {
  font-family: 'Poppins', sans-serif;
  margin: auto;
}

h3 {
  font-family: 'Poppins', sans-serif;
}

header {
  margin: 40px 0px 75px;
}

.header-logo {
  position: absolute;
  left: 10px;
  width: 15%;
}

.diamond {
  width: 80%;
  background-color: #7FDBFF;
  background-image: linear-gradient(#ff52bf, #9a52ff);
  transform: rotate(315deg);
  border-radius: 8%;
  position: absolute;
  right: -400px;
  top: -400px;
  z-index: -1;
}

.diamond:after {
  content:"";
  display: inline-block;
  padding-bottom: 100%;
}

.section-one {
  position: relative;
  overflow: hidden;
}

.footer {
  background-color: #00252E;
}
